@model MoscowWeather.ViewModels.ArchiveDetailsViewModel

@{
    ViewData["Title"] = "Погода в Москве";
}


<script>
$(document).ready(function(){
    $('#selectMonth').on('click', () => {
        const params = new URLSearchParams({
            page: @Model.CurrentPage,
        });
        
        let months = $('#months').val();
        months.map((x) => params.append('months', x));
        
        let years = $('#years').val();
        years.map((x) => params.append('years', x));
        
        const result = "@Model.Id?"+params.toString();
        window.location='/Archive/Details/'+result;
    });
});
</script>


<div class="flex">
    <select id="years" class="selectpicker" multiple>
        @foreach (var year in Model.AvailableYears)
        {
            <!option @(Model.SelectedYears.Contains(year) ? "selected" : "") value="@year">@year</!option>
        }
    </select>
    <select id="months" class="selectpicker" multiple>
        <!option @(Model.Months.Contains(1) ? "selected" : "") value="1">Январь</!option>
        <!option @(Model.Months.Contains(2) ? "selected" : "") value="2">Февраль</!option>
        <!option @(Model.Months.Contains(3) ? "selected" : "") value="3">Март</!option>
        <!option @(Model.Months.Contains(4) ? "selected" : "") value="4">Апрель</!option>
        <!option @(Model.Months.Contains(5) ? "selected" : "") value="5">Май</!option>
        <!option @(Model.Months.Contains(6) ? "selected" : "") value="6">Июнь</!option>
        <!option @(Model.Months.Contains(7) ? "selected" : "") value="7">Июль</!option>
        <!option @(Model.Months.Contains(8) ? "selected" : "") value="8">Август</!option>
        <!option @(Model.Months.Contains(9) ? "selected" : "") value="9">Сентябрь</!option>
        <!option @(Model.Months.Contains(10) ? "selected" : "") value="10">Октябрь</!option>
        <!option @(Model.Months.Contains(11) ? "selected" : "") value="11">Ноябрь</!option>
        <!option @(Model.Months.Contains(12) ? "selected" : "") value="12">Декабрь</!option>
    </select>
    <button id="selectMonth" class="btn btn-outline-dark" type="button">Отобразить</button>
</div>
@if (Model.Weathers.Count < 1)
{
    <div>Ничего не найдено по вашему запросу</div>
    return;
}
<table class="table mt-2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Время</th>
        <th>Температура</th>
        <th>Отн. влажность воздуха (%)</th>
        <th>Точка росы</th>
        <th>Атм. давление,мм рт.ст.</th>
        <th>Направление ветра</th>
        <th>Скорость ветра, м/с</th>
        <th>Облачность, %</th>
        <th>Нижняя граница облачности</th>
        <th>Горизонтальная видимость, км</th>
        <th>Погодные явления</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Weathers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelativeHumidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DewPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cloudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowerCloudLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalVisibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherConditions)
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.PageCount == 0)
{
    return;
}

<nav class="mt-2">
    <ul class="pagination">
        @if (Model is { CurrentPage: > 9,PageCount: > 16 })
        {
            <li class="page-item">
                @Html.ActionLink(1.ToString(), "Details", new { page = 1, months = Model.Months }, new { @class = "page-link" })
            </li>
            <li class="page-item disabled">
                <a class="page-link">...</a>
            </li>
        }
        @for (var i = Model.StartPage; i <= Model.PageCount && i <= Model.EndPage; i++)
        {
            var disabled = Model.CurrentPage == i;
            @if (disabled)
            {
                <li class="page-item disabled">
                    @Html.ActionLink(i.ToString(), "Details", new { page = i, months = Model.Months }, new { @class = $@"page-link {disabled}" })
                </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink(i.ToString(), "Details", new { page = i, months = Model.Months }, new { @class = $@"page-link {disabled}" })
                </li>
            }
        }
        @if (Model.StartPage + 15 < @Model.PageCount)
        {
            <li class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            <li class="page-item">
                @Html.ActionLink(Model.PageCount.ToString(), "Details", new { page = Model.PageCount, months = Model.Months }, new { @class = "page-link" })
            </li>
        }

    </ul>
</nav>