﻿@using MoscowWeather.Core.Enums
@using NPOI.SS.Formula.Functions
@model MoscowWeather.ViewModels.IndexArchiveViewModel

@{
    ViewData["Title"] = "Архивы";
}

@if (Model.Archives.Count == 0)
{
    <div>Упс, не найдено. Загрузите архив!</div>
    return;
}

<table class="table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Название
        </th>
        <th>
            Статус
        </th>
        <th>
            Дата загрузки
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Archives)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadedAt)
            </td>
            <td>
                @if (item.Status is ArchiveStatus.Ready)
                {
                    <a asp-controller="Archive" asp-action="Details" asp-route-id="@item.Id">Посмотреть</a>
                }
                @if (item.Status is not ArchiveStatus.InWork)
                {
                    <a asp-controller="Archive" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                }
                @if (item.Status is ArchiveStatus.InWork)
                {
                    <a asp-controller="Archive" asp-action="Stop" asp-route-id="@item.Id">Остановить</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>