@model MoscowWeather.ViewModels.UploadDataViewModel 

@{
    ViewData["Title"] = "Загрузка архива";
}


<div class="d-flex justify-content-center">
    <form enctype="multipart/form-data" method="post">
        <div class="input-group">
            <div class="custom-file">
                <label class="custom-file-label" asp-for="Files">Выбрать архивы</label>
                <input id="file-upload" type="file" class="custom-file-input" asp-for="Files" multiple="multiple">
            </div>
        </div>
        <div class="text-center mt-3">
            <input asp-page-handler="Upload" class="btn btn-outline-secondary btn-block" type="submit" value="Отправить"/>
        </div>
    </form>
</div>

<script>
$("#file-upload").change(function(){
  $(this).prev('label').text(Array.from(this.files).map(x => x.name));
});
</script>